<div class="user-header">
  <img src="<%= user.avatar.attached? ? url_for(user.avatar) : image_path("default-avatar.png") %>" class="user-header__avatar">

  <b class="user-header__username">
    <%= '@' + user.username %>
  </b>

  <%= user.full_name %>
</div>
