<div class="user-header">
  <% url = user.avatar.attached? ? url_for(user.avatar) : image_path("default-avatar.png") %>
  <div class="user-header__avatar" style="background-image: url(<%= url %>)"></div>

  <b class="user-header__username">
    <%= '@' + user.username %>
  </b>

  <%= user.full_name %>
</div>
