<div class="user-card card">
  <div class="card-body">
    <%= render 'header', user: @user, show_post_count: true %>

    <br>

    <p>
      <%= @user.bio %>
    </p>

    <% if is_logged_in? && @user == get_current_user %>
      <%= render 'edit-btn', user: @user %>
    <% end %>
  </div>
</div>

<br>

<% @user.posts.each do |post| %>
  <%= render 'posts/post', post: post %>
  <br>
<% end %>
