.user-header {
  display: flex;
  align-items: center;

  &__avatar {
    width: 50px;
    border-radius: 50%;
  }

  &__username {
    margin: 0 1rem;
  }

  &__post-count {
    margin-left: 1rem;
  }
}

.user-card {
  position: relative;

  &__edit-btn, &__follow-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.user-stats {
  padding-left: 4.3rem;

  span {
    margin-right: 1rem;
  }
}
